<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Criar Perfil
          <small>...</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <%= simple_form_for(@cliente, html: {class: "form-horizontal form-label-left"}) do |f| %>

          <%= render 'form', f: f %>

          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <%= f.button :submit, "Criar", class: "btn btn-success" %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>



