<li><a><i class="fa fa-percent"></i> Performance <span class="fa fa-chevron-down"></span></a>
  <ul class="nav child_menu">
    <li>
      <%= link_to dashboards_ranking_path do %>
        <i class="fa fa-sort-numeric-asc"></i> Ranking
      <% end %>
    </li>
  </ul>
</li>
