<% if current_usuario %>
  <div class="nav">
    <div class="toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <%#TODO: Mover código para o helpers %>
      <% if current_usuario.industria? or current_usuario.equipe_industria? %>
        <% if current_usuario.industria %>
          <div class="navbar-text">
            <h2><%= current_usuario.industria.descricao.upcase %></h2>
          </div>
        <% end %>
      <% elsif current_usuario.representante? %>
        <% if current_usuario.representante %>
          <div class="navbar-text">
            <h2><%= current_usuario.representante.descricao.upcase %></h2>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
