<div class="row">
  <div class="x_content">
    <div id="solicitacao-map"></div>
  </div>
</div>

<script>

    // This example requires the Visualization library. Include the libraries=visualization
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

    var map, heatmap;

    function initMap() {
        map = new google.maps.Map(document.getElementById('solicitacao-map'), {
            zoom: 7,
            center: {
                lat: <%= current_usuario.industria.cidade.latitude %>,
                lng: <%= current_usuario.industria.cidade.longitude %>
            },
            mapTypeId: 'terrain'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
            data: getPoints(),
            map: map
        });
        heatmap.set('radius', 50);
        heatmap.set('opacity', 0.5);
    }


    function getPoints() {
        var solicitacoes = [];

        <% @solicitacoes.each do |solicitacao| %>
        <% unless solicitacao.lojista.cidade.longitude.nil? and solicitacao.lojista.cidade.latitude.nil? %>
        solicitacoes.push(new google.maps.LatLng(<%= solicitacao.lojista.cidade.latitude %>, <%= solicitacao.lojista.cidade.longitude %>));
        <% end %>
        <% end %>

        return solicitacoes;
    }

</script>
