<div class="row text-center">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <% if current_usuario.equipe_industria? %>
      <% unless current_usuario.industria %>
        <h2>Sinto muito, mas você não tem mais acesso.</h2>
        <h2>Por favor, entre em contato com seu gestor.</h2>
      <% end %>
    <% end %>
  </div>
</div>
