<h1>Editing Representative</h1>

<%= render 'form', representative: @representative %>

<%= link_to 'Show', @representative, class: "btn blue waves-effect waves-light" %>
<%= link_to 'Back', representatives_path, class: "btn waves-effect waves-light" %>
