<!-- top tiles -->
<div class="row tile_count">
  <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count">
    <span class="count_top"><i class="fa fa-user-circle"></i> TOTAL DE REPRESENTANTES</span>
    <div class="count"><%= 43 %></div>
    <span class="count_bottom"><i class="green">20% </i> no último mês</span>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count">
    <span class="count_top"><i class="fa fa-money"></i> TOTAL DE VENDAS</span>
    <div class="count"><%= 600 %></div>
    <span class="count_bottom"><i class="green">10% </i> no último mês</span>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count">
    <span class="count_top"><i class="fa fa-building"></i> TOTAL DE LOJISTAS</span>
    <div class="count"><%= 150 %></div>
    <span class="count_bottom"><i class="red">13% </i> no último mês</span>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3 tile_stats_count">
    <span class="count_top"><i class="fa fa-home"></i> TOTAL DE CIDADES</span>
    <div class="count"><%= 30 %></div>
    <span class="count_bottom"><i class="red">50% </i> no último mês</span>
  </div>
</div>
<!-- /top tiles -->

<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2><i class="fa fa-hourglass-half"></i> META DE VENDAS</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 100%; height: 100%;"></canvas>
          <div class="goal-wrapper">
            <span id="gauge-text_01" class="gauge-value pull-left">0</span>
            <span id="goal-text_01" class="goal-value pull-right">1000</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2><i class="fa fa-hourglass-half"></i> META DE LOJISTAS</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <canvas width="150" height="80" id="chart_gauge_02" class="" style="width: 100%; height: 100%;"></canvas>
          <div class="goal-wrapper">
            <span id="gauge-text_02" class="gauge-value pull-left">0</span>
            <span id="goal-text_02" class="goal-value pull-right">100</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2><i class="fa fa-hourglass-half"></i> META DE CIDADES</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="dashboard-widget-content">
          <canvas width="150" height="80" id="chart_gauge_03" class="" style="width: 100%; height: 100%;"></canvas>
          <div class="goal-wrapper">
            <span id="gauge-text_03" class="gauge-value pull-left">0</span>
            <span id="goal-text_03" class="goal-value pull-right">100</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
