<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>O Jogo
          <small>
            Seguem abaixo as regras para aumentar seus ganhos
          </small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="row">
          <div class="col-xs-12">
            <h2>Pontuações</h2>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th style="width: 10%">Regras</th>
                  <th style="width: 20%">Ações</th>
                  <th style="width: 50%">Descrições</th>
                  <th style="width: 20%">Pontos</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Solicitação</td>
                  <td>Solicitar</td>
                  <td>Pontuação ganha quando o representante solicitar um pedido</td>
                  <td>+5 pontos</td>
                </tr>
                <tr>
                  <td>Lojista</td>
                  <td>Cadastrar</td>
                  <td>Pontuação ganha quando o representante cadastrar um lojista</td>
                  <td>+10 pontos</td>
                </tr>
                <tr>
                  <td>Solicitação</td>
                  <td>Aceitar</td>
                  <td>Pontuação ganha quando o indústria aceitar um pedido</td>
                  <td>+20 pontos</td>
                </tr>
                <tr>
                  <td>Lojista</td>
                  <td>Excluir</td>
                  <td>Pontuação perdida quando o representante excluir um lojista</td>
                  <td>-15 pontos</td>
                </tr>
                <tr>
                  <td>Solicitação</td>
                  <td>Recusar</td>
                  <td>Pontuação perdida quando o indústria recusar um pedido</td>
                  <td>-30 pontos</td>
                </tr>
                <tr>
                  <td>Solicitação</td>
                  <td>Cancelar</td>
                  <td>Pontuação perdida quando a indústria ou representante cancelar um pedido</td>
                  <td>-35 pontos</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2>Medalhas</h2>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th style="width: 10%">Regras</th>
                  <th style="width: 20%">Ações</th>
                  <th style="width: 50%">Descrições</th>
                  <th style="width: 20%">Medalhas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Venda</td>
                  <td>Aceitar</td>
                  <td>Medalha ganha quando o representante realiza a 1º venda</td>
                  <td>1ª Venda</td>
                </tr>
                <tr>
                  <td>Venda</td>
                  <td>Aceitar</td>
                  <td>Medalha ganha quando o representante realiza a 5º venda</td>
                  <td>5ª Venda</td>
                </tr>
                <tr>
                  <td>Venda</td>
                  <td>Aceitar</td>
                  <td>Medalha ganha quando o representante realiza a 10º venda</td>
                  <td>10ª Venda</td>
                </tr>
                <tr>
                  <td>Venda</td>
                  <td>Aceitar</td>
                  <td>Medalha ganha quando o representante realiza a 50º venda</td>
                  <td>50ª Venda</td>
                </tr>
                <tr>
                  <td>Venda</td>
                  <td>Aceitar</td>
                  <td>Medalha ganha quando o representante realiza a 100º venda</td>
                  <td>100ª Venda</td>
                </tr>
                <tr>
                  <td>Lojista</td>
                  <td>Cadastrar</td>
                  <td>Medalha ganha quando o representante cadastra o 1º lojista</td>
                  <td>1ª Lojista</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2>Prêmios</h2>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th style="width: 10%">Regras</th>
                  <th style="width: 40%">Descrições</th>
                  <th style="width: 30%">Prêmios</th>
                  <th style="width: 30%">Metas</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Venda</td>
                  <td>Prêmio dado quando o representante atinge os 1.000 pontos</td>
                  <td>R$1.000,00 de comissão em uma compra</td>
                  <td>1.000 pontos</td>
                </tr>
                <tr>
                  <td>Venda</td>
                  <td>Prêmio dado quando o representante atinge os 5.000 pontos</td>
                  <td>R$5.000,00 de comissão em uma compra</td>
                  <td>5.000 pontos</td>
                </tr>
                <tr>
                  <td>Venda</td>
                  <td>Prêmio dado quando o representante atinge os 10.000 pontos</td>
                  <td>1% de comissão em todas as compras</td>
                  <td>10.000 pontos</td>
                </tr>
                <tr>
                  <td>Venda</td>
                  <td>Prêmio dado quando o representante atinge os 50.000 pontos</td>
                  <td>5% de comissão em todas as compras</td>
                  <td>50.000 pontos</td>
                </tr>
                <tr>
                  <td>Venda</td>
                  <td>Prêmio dado quando o representante atinge os 100.000 pontos</td>
                  <td>10% de comissão em todas as compras</td>
                  <td>100.000 pontos</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

