<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Informe o Cliente e Lojista
          <small>...</small>
        </h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <%= simple_form_for([@representante, @solicitacao], html: {class: "form-horizontal form-label-left"}) do |f| %>
        <div class="nav navbar-right">
          <%= f.button :submit, "Continuar", class: "btn btn-success" %>
        </div>
        <div class="x_content">
          <div class="divider-dashed"></div>
          <%= f.input :cliente_id, as: :select, collection: @clientes.map {|c| [c.descricao, c.id]}, class: "form-control" %>
          <%= f.input :lojista_id, as: :select, collection: @lojistas.map {|c| [c.descricao, c.id]}, class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



