<p>Oi <%= @resource.nome %>,</p>

<p>Para confirmar seu cadastro basta clicar no link abaixo.</p>

<p><%= link_to 'Confirmar Minha Conta', confirmation_url(@resource, confirmation_token: @token) %></p>
