<p>Oi <%= @resource.nome %>,</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato para notificá-lo de que seu e-mail está sendo alterado
    para <b><%= @resource.unconfirmed_email %></b>.</p>
<% else %>
  <p>Estamos entrando em contato para notificá-lo de que seu e-mail foi alterado para <b><%= @resource.email %></b>.</p>
<% end %>
