<p>Olá <%= @resource.nome %>,</p>

<p>A <b><%= "#{@resource.industria.descricao} (CNPJ #{@resource.industria.cnpj})" %></b> convidou você para acessar nossa plataforma.</p>
<p>Para aceitar o convite basta clicar no link abaixo.</p>

<p><%= link_to "Aceitar Convite", accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>Se você não quer aceitar esse convite, por favor ignore esse e-mail.</p>
<p>Sua conta não será criada até você acessar o link acima e escolher sua senha.</p>
