<p>Oi <%= @resource.nome %>,</p>

<p>Alguém solicitou um link para alterar sua senha.</p>
<p>Para alterar a senha clicar no link abaixo.</p>

<p><%= link_to 'Alterar Minha Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou isso, ignore este e-mail.</p>
<p>Sua senha não mudará até que você acesse o link acima e crie uma nova.</p>
