<p>Oi <%= @resource.nome %>!</p>

<p>Sua conta foi bloqueada devido a um número excessivo de tentativas de login malsucedidas.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear Minha Conta', unlock_url(@resource, unlock_token: @token) %></p>
