<h1>Editing Representante Comercial</h1>

<%= render 'form', representante_comercial: @representante_comercial %>

<%= link_to 'Show', @representante_comercial %> |
<%= link_to 'Back', representante_comerciais_path %>
