<h1>Editing Representante Comercial</h1>

<%= render 'form', representante_comercial: @representante_comercial %>

<%= link_to 'Show', cliente_representante_comercial_path(@cliente, @representante_comercial) %> |
